p.line_1{
    border-style: solid;
    border-width: thick;
    background-color: #d0ebf5;
}
p.line_2{
    border-style: solid;
    border-width: medium;
    background-color: #d0ebf5;
}
p.line_3{
    border-style: solid;
    border-width: thin;
    background-color: #d0ebf5;
}
